<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.finmate.portfolio.mapper.PortfolioMapper">
    <insert id="insertPortfolio">
        INSERT INTO financial_portfolio (
            user_id, total_assets, investment_profile, cash, deposit,
            savings, bond, fund, stock, other
        ) VALUES (
                     #{userId}, #{totalAssets},
                     #{investmentProfile}, #{cash}, #{deposit},
                     #{savings}, #{bond}, #{fund}, #{stock}, #{other}
                 )
    </insert>

    <select id="getPortfolio" resultType="org.finmate.portfolio.domain.PortfolioVO">
        SELECT * FROM financial_portfolio WHERE user_id = #{userId} ORDER BY created_at DESC
        LIMIT 1
    </select>

    <select id="getHistoryPortfolio" resultType="org.finmate.portfolio.domain.PortfolioVO">
        SELECT *
        FROM financial_portfolio
        WHERE user_id = #{userId}
          AND DATE(created_at) = #{date}
    </select>


    <update id="updatePortfolio">
        UPDATE financial_portfolio SET
                                       total_assets = #{totalAssets},
                                       investment_profile = #{investmentProfile},
                                       cash = #{cash},
                                       deposit= #{deposit},
                                       savings = #{savings},
                                       bond = #{bond},
                                       fund = #{fund},
                                       stock =#{stock},
                                       other =#{other}
        WHERE user_id = #{userId} and DATE(created_at) = CURDATE()
    </update>

    <delete id="deletePortfolio">
        DELETE FROM financial_portfolio WHERE user_id = #{userId}
    </delete>

</mapper>