<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.finmate.member.mapper.EmailAuthMapper">
<insert id="insertAuthCode" parameterType="org.finmate.member.domain.EmailAuthVO">
        INSERT INTO email_auth (email, uuid, auth_code, expired_at)
        VALUES (#{email}, #{uuid}, #{authCode}, #{expiredAt})
    </insert>

    <select id="findByUuid" resultType="org.finmate.member.domain.EmailAuthVO">
        SELECT * FROM email_auth WHERE uuid = #{uuid}
    </select>

    <update id="updateVerified">
        UPDATE email_auth SET is_verified = true WHERE uuid = #{uuid}
    </update>

    <select id="findEmailByVerifiedUuid" resultType="String">
        SELECT email FROM email_auth
        WHERE uuid = #{uuid}
          AND is_verified = TRUE
    </select>

</mapper>
