<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.finmate.member.mapper.UserInfoMapper">

    <select id="getUserInfoById" resultType="org.finmate.member.domain.UserInfoVO">
        SELECT
            id,
            user_id,
            animal_id,
            exp,
            birth,
            gender,
            is_married,
            has_job,
            uses_public_transport,
            does_exercise,
            travels_frequently,
            has_children,
            has_house ,
            employed_at_sme,
            uses_microloan,
            profile_summary,
            adventure_score,
            value_tag,
            speed_tag,
            strategy_tag,
            finance_score,
            user_level,
            character_ticket,
            updated_at
        FROM user_info
        WHERE user_id = #{userId}
    </select>
    <!-- userinfo 에 설문 결과 저장 -->
    <insert id="insertUserInfo"
            parameterType="org.finmate.member.domain.UserInfoVO"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">
        INSERT INTO user_info (
            user_id,
            animal_id,
            exp,
            birth,
            gender,
            is_married,
            has_job,
            uses_public_transport,
            does_exercise,
            travels_frequently,
            has_children,
            has_house,
            employed_at_sme,
            uses_microloan,
            profile_summary,
            adventure_score,
            value_tag,
            speed_tag,
            strategy_tag,
            finance_score,
            user_level,
            character_ticket,
            updated_at
        )
        VALUES (
                   #{userId},
                   #{animalId},
                   #{exp},
                   #{birth},
                   #{gender},
                   #{isMarried},
                   #{hasJob},
                   #{usesPublicTransport},
                   #{doesExercise},
                   #{travelsFrequently},
                   #{hasChildren},
                   #{hasHouse},
                   #{employedAtSme},
                   #{usesMicroloan},
                   #{profileSummary},
                   #{adventureScore},
                   #{valueTag},
                   #{speedTag},
                   #{strategyTag},
                   #{financeScore},
                   #{userLevel},
                   #{characterTicket},
                   #{updatedAt}
               )
            ON DUPLICATE KEY UPDATE
                                animal_id         = COALESCE(VALUES(animal_id), animal_id),
                                exp               = COALESCE(VALUES(exp), exp),
                                is_married        = COALESCE(VALUES(is_married), is_married),
                                has_job           = COALESCE(VALUES(has_job), has_job),
                                uses_public_transport = COALESCE(VALUES(uses_public_transport), uses_public_transport),
                                does_exercise     = COALESCE(VALUES(does_exercise), does_exercise),
                                travels_frequently = COALESCE(VALUES(travels_frequently), travels_frequently),
                                has_children      = COALESCE(VALUES(has_children), has_children),
                                has_house         = COALESCE(VALUES(has_house), has_house),
                                employed_at_sme   = COALESCE(VALUES(employed_at_sme), employed_at_sme),
                                uses_microloan    = COALESCE(VALUES(uses_microloan), uses_microloan),
                                profile_summary   = COALESCE(VALUES(profile_summary), profile_summary),
                                adventure_score   = COALESCE(VALUES(adventure_score), adventure_score),
                                value_tag         = COALESCE(VALUES(value_tag), value_tag),
                                speed_tag         = COALESCE(VALUES(speed_tag), speed_tag),
                                strategy_tag      = COALESCE(VALUES(strategy_tag), strategy_tag),
                                finance_score     = COALESCE(VALUES(finance_score),finance_score),
                                user_level        = COALESCE(VALUES(user_level), user_level),
                                character_ticket  = COALESCE(VALUES(character_ticket), character_ticket),
                                updated_at        = NOW()

    </insert>
</mapper>

