<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.finmate.quiz.mapper.QuizMapper">
    <resultMap id="quizMap" type="org.finmate.quiz.domain.QuizVO">
        <id property="id" column="id"/>
        <result property="quiz" column="quiz"/>
        <result property="quizAnswer" column="quiz_answer"/>
        <result property="correctAnswer" column="correct_answer"/>
        <result property="wrongAnswer" column="wrong_answer"/>
    </resultMap>


    <select id="selectQuiz" resultMap="quizMap">
        SELECT *
        FROM daily_quiz
        WHERE id = #{id};
    </select>

    <select id="selectRandomQuiz" resultMap="quizMap">
        SELECT *
        FROM daily_quiz
        ORDER BY RAND() LIMIT 1;
    </select>

</mapper>